name: DevX CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04

    env:
      flex: ./flex.sh

    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Flex Build & Unit, Feature Test
      run: ./scripts/setup-dev-dependencies.sh && ./scripts/build-flex.sh

    - name: Publish Release
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} dry_run=0 scripts/release-flex.sh
      if: ${{ github.ref == 'refs/heads/main' }}
